<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 fixed-top">
    <div class="container-fluid">
        <a href="/index">
            <img src="/images/logo.png" alt="Logo" width="250" class="d-inline-block align-text-top">
        </a>

    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
    
            <div class="mx-auto d-none d-lg-block w-50">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search movies" aria-label="Search">
                    <button class="btn btn-outline-light voiceBtn ms-2" type="button">
                        <i class="bi bi-mic-fill"></i>
                    </button>
                    <button class="btn btn-outline-light searchBtn" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
    
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item w-100 mobile-search d-lg-none mb-2 mt-3">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search movies" aria-label="Search">
                        <button class="btn btn-outline-light voiceBtn me-2" type="button">
                            <i class="bi bi-mic-fill"></i>
                        </button>
                        <button class="btn btn-outline-light searchBtn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </li>
        
                <li class="nav-item"><a class="nav-link <%= currentPage === 'home' ? 'active' : '' %>" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link <%= currentPage === 'watchlist' ? 'active' : '' %>" href="/watchlist">WatchList</a></li>
                <li class="nav-item"><a class="nav-link <%= currentPage === 'trending' ? 'active' : '' %>" href="/trending">Trending</a></li>
        
                <li class="nav-item d-lg-none"><a class="nav-link profile-mobile <%= currentPage === 'profile' ? 'active' : '' %>" href="/profile">Profile</a></li>
            </ul>
    
            <a href="/profile" class="ms-3 d-none d-lg-block profile-desktop">
                <img src="<%= (locals.user.profilePicture) ? locals.user.profilePicture : '/images/defaultAvatarProfile.jpg' %>" alt="Profile" class="navbar-profile-img">
            </a>
    
        </div>
    </div>
</nav>

